{% extends 'web/base.html' %}

{% block title %}Configuración - QBYT{% endblock %}
{% block page_title %}Configuración{% endblock %}
{% block nav_config %}active{% endblock %}

{% block content %}

  <div class="welcome-banner">
    <div class="welcome-text">
      <h2>Certificados</h2>
      <p>Administra tus certificados.</p>
    </div>
  </div>

  <div class="welcome-banner">
    <div class="welcome-text">
      <h2>Aqui estaran tus certificados y clases finalizadas.</h2>
    </div>
  </div>
  

{% endblock %}