{% extends 'web/base.html' %}

{% block title %}Configuración - QBYT{% endblock %}
{% block page_title %}Configuración{% endblock %}
{% block nav_config %}active{% endblock %}

{% block content %}

  <div class="welcome-banner">
    <div class="welcome-text">
      <h2>Configuración ⚙️</h2>
      <p>Administra tu cuenta.</p>
    </div>
  </div>

  <div class="stat-card">
    <label>Nombre de usuario</label>
    <input class="form-control mb-3" value="{{ request.user.username }}">
    <button class="btn btn-primary">Guardar cambios</button>
  </div>

{% endblock %}